<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <base href='/'>
  </head>
  <body ng-controller='searchControl'>
    <header>
      <h1 class='centered-text'><a href='/'>Angular OMDb API Search</h1></a>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-4 cennter-block col-sm-offset-4'>
            <div class='form-group'>
              <label for='search'><h3>Enter a movie by title</h3></label>
              <br>
              <input type='text' name='search' placeholder='e.g. The Hudsucker Proxy' ng-model='searchText'>
            </div>
            <a href='/'><button ng-click='searchOMDb()' class='btn btn-lg btn-success'>Search</button></a>
          </div>
        </div>
      </div>
      <hr>
    </header>
    <!-- sample angular code -->
    <div ng-view>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js'></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </body>
</html>
