<section>
  <table>
    <thead>
      <tr>
        <th>Tea</th>
        <th>Information
          <label for="sort-price">Sort By Price:</label>
          <select ng-model="priceSort" ng-change="sortPrice()" id="sort-price">
            <option selected value=""></option>
            <option value="lowest">Lowest</option>
            <option value="highest">Highest</option>
          </select></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tea in teas | orderBy : sort : false | filter : search : strict">
        <td>
          <tea-img tea="tea"></tea-img>
        </td>
        <td>
          <indiv-tea tea="tea"></indiv-tea>
        </td>
      </tr>
    </tbody>
  </table>
</section>
